@font-face { font-family: '☺Segoe'; src: url("segoe_ui.eot"); src: local("Segoe UI"),local("Segoe"),local("Segoe WP"),url("segoe_ui.eot?#iefix") format("embedded-opentype"),url("segoe_ui.woff") format("woff"),url("segoe_ui.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: '☺SegoeLight'; src: url("segoe_ui_light.eot"); src: local("Segoe UI Light"),local("Segoe WP Light"),url("segoe_ui_light.eot?#iefix") format("embedded-opentype"),url("segoe_ui_light.woff") format("woff"),url("segoe_ui_light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'MSHPIconsRegular'; src: url("icons.eot"); src: url("icons.eot?#iefix") format("embedded-opentype"),url("icons.woff") format("woff"),url("icons.ttf") format("truetype"); font-weight: normal; font-style: normal; }

html, body { padding: 0; margin: 0; }

.tile-color, .ui-widget-header { background: #0060a6; border-color: #0060a6; }
.tile-border-color, .ui-widget-content { border-color: #0060a6; }
.ui-widget-header a, .ui-widget-header { color: #fff; }
.tile-color-font, .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-tabs-selected a:hover { color: #0060a6; }
.tiles a { background-color: #0060a6; color: #fff; border-color: #0060a6; }
.tiles a:hover { background-color: #3286C1; border-color: #3286C1; }
.tiles a:active { background-color: #004577; border-color: #004577; }

#form1, #hapContent, .ui-widget { font-family: '☺Segoe', "Segoe UI", Segoe, Arial, sans-serif; font-size: 13px; }
#hapContent input, #hapContent select, #hapContent input { font-size: 13px; }
a img { border: 0; }

input[type=button], input[type=submit], button { border: 0; cursor: pointer; padding: 4px 6px; background-color: #bbb; }
input[type=button]:hover, input[type=submit]:hover, button:hover { background-color: #999; color: #fff; }
input[type=password], input[type=text], input[type=time], input[type=date], input[type=email], textarea { border: solid 1px #bbb; font-family: Calibri, Arial, Sans-Serif; font-size: 14px; }
input[type=password]:hover, input[type=password]:active, input[type=time]:active, input[type=date]:active, input[type=time]:hover, input[type=date]:hover, input[type=text]:hover, input[type=email]:hover, textarea:hover, input[type=text]:focus, input[type=email]:focus, textarea:focus { border: #edce00 solid 1px; }
input[type=button]:focus, input[type=submit]:focus, button:focus { outline: #edce00 solid 2px; outline-offset: 2px; background-color: #666; color: #fff; }


#hapContent { background: #f3f3f3; position: relative; padding-top: 40px; }
#hapContent .commonheader { overflow: hidden; clear: both; position: relative; height: 80px; }
#hapContent .commonheader nav { position: absolute; }
#hapContent .commonheader .left { left: 0; text-align: left; }
#hapContent .commonheader .right { right: 0; text-align: right; }
#hapContent .commonheader div { text-align: center; font-size: 3em; font-family: '☺SegoeLight'; line-height: 80px; font-weight: 300; }
#hapContent .commonheader div a { color: #000; text-decoration: none; }

#useroutter { overflow: hidden; }

#usertop { position: absolute; z-index: 1909; top: 10px; left: 10px; padding: 2px 10px; border: solid 1px gray; background: #fff; }

#tab_me_progress { width: 100%; height: 18px; border: solid 1px gray; border-radius: 3px; background: transparent url(../images/progressbar.png) repeat-x top left; position: relative; overflow: hidden; margin: 5px 0 0 0; }
#tab_me_progress div { height: 18px; background: transparent url(../images/progressbar-active.png) repeat-x top left; }
#tab_me_progress label { position: absolute; top: 0; left: 0; right: 0; bottom: 0; text-align: center; font-size: 14px; }
#Me_tab { padding-left: 12px; padding-right: 12px; }
#Me_tab img { margin: 0 10px 0 0; max-height: 122px; padding: 0; }

.bookingtable { border: solid 1px #a0a0a0; border-collapse: collapse; padding: 0; margin: 0; background: #fff; width: 100%; position: relative; }
.bookingtable th { border-bottom: solid 1px #a0a0a0; border-top: 0; line-height: 20px; height: 20px; background: #f3f4f6 url(../images/table-head-bg.gif) repeat-x top left; font-weight: normal; padding: 0; margin: 0; font-size: 15px; }
.bookingtable td { font-size: 100%; padding: 0 2px; }
.bookingtable.tickets td { font-size: 94%; text-align: center; }

#baseContent { height: 100%; }

#logincontainer, #hapHomeContainer { background: #f3f3f3; }
#loginformside, #hapHomeSide { position: absolute; left: 0; width: 30%; top: 0; bottom: 0; background-image: url(../images/icons/metro/hap-logo-128.png); background-repeat: no-repeat; background-position: center 30%; overflow: hidden; }
#loginform, #hapHome { margin-left: 40%; }
#loginform img { margin-bottom: 60px; }
#loginform div { padding: 5px 0; }
#loginform input { font-size: 150%; }
#loginform label { font-size: .9em; display: block; }
#loginform .submit { padding-top: 30px; }
#loginform .submit a { width: 200px; display: inline-block; }
#loginform .submit a span:before { font-family: MSHPIconsRegular; font-size: 1em; content: ''; margin-right: 20px; }
#loginform .submit a:hover { color: #666; }
#loginform .submit a:active, #loginform .submit a:focus { color: #fff; background: #666; }
#loginform .base { padding-top: 60px; padding-left: 60px; padding-bottom: 0; }
#loginform .copyright { position: absolute; right: 40px; bottom: 40px; }

#loginform h1, #title h1 { color: #0060a6; font-size: 5em; margin: 0; font-weight: normal; padding-top: 15%; }
#loginform h1 a, #title h1 a { color: #0060a6; text-decoration: none; }
#loginform h2, #title h2 { margin: 0; padding: 0 0 40px 60px; font-size: 2.5em; font-weight: normal; }

#title h1, #title h2 { margin-left: 10%; }
#title h1 { padding-top: 0; }

#hapHomeSide { background-position: center 10%; }
#hapHome { margin-left: 30%; }
#HomeButtonsContainer { position: relative; clear: both; }
#HomeButtonsOutter { overflow: hidden; padding: 0 20px; }
#HomeButtons { margin-top: 6px; overflow: hidden; }
#HomeButtons .panel { float: left; }
#HomeButtonsHeader h1 { font-family: '☺SegoeLight', 'Segoe UI', Segoe, Arial, sans-serif; font-weight: normal; float: left; margin-right: 10px; font-size: 2em; }
#HomeButtonsHeader h1.active { font-weight: bold; }
#HomeButtonsHeader h1 a { text-decoration: none; color: #666; }
#HomeButtonsHeader h1 a:hover { color: #222; }
#HomeButtonsHeader h1.active a { color: #0060a6; }
#HomeButtonsHeader { clear: both; overflow: hidden; padding-left: 20px; }
#leftscroll, #rightscoll { position: absolute; top: 0; bottom: 0; font-size: 20px; width: 20px; font-family: #0060a6; background: #f3f3f3; font-family: MSHPIconsRegular; text-decoration: none; }
#rightscoll { right: 0; }
#leftscroll { left: 0; }

h1.Announcement { background: #fceb80; font-size: 12px; color: Red; border: solid 1px #fff; padding: 4px 10px; }
h1.Announcement b { font-size: 16px; }
#EditAnn { position: relative; }
#EditAnn a.EditAnnLink { position: absolute; right: 0; top: 0; }
#EditAnn a.EditAnnLink img { vertical-align: middle; text-decoration: none; height: 48px; }

#HomeButtons a { float: left; margin: 3px 3px 0 0; padding: 8px; height: 108px; width: 108px; font-size: 11px; text-decoration: none; }
#HomeButtons a span { display: block; text-align: center; width: 108px; height: 90px; vertical-align: middle; overflow: hidden; }
#HomeButtons a span i { float: left; width: 108px; font-style: normal; height: 90px; vertical-align: middle; background: transparent no-repeat center center; }
#HomeButtons a span label { float: left; cursor: pointer; line-height: 80px; font-size: 32px; padding-left: 5px; }
#HomeButtons a:hover { text-decoration: none; }
#HomeButtons a.large, #HomeButtons a.large span, #HomeButtons a.large span i { width: 235px; }

#HomeButtons .appointment span { text-align: left; overflow: visible; }
#HomeButtons .appointment span i { text-transform: none; font-style: normal; overflow: hidden; }
#HomeButtons .appointment span label { float: right; line-height: normal; font-size: 11px; height: 24px; position: relative; margin-top: -14px; padding: 0; }
#HomeButtons .appointment span label b { font-size: 24px; font-weight: normal; }

#HomeButtons .me span label { line-height: normal; font-size: 11px; padding: 0; }
#HomeButtons .me span { text-align: left; }
#HomeButtons .me .progress { display: block; background: #fff; height: 14px; overflow: hidden; white-space: nowrap; position: relative; }
#HomeButtons .me .progress u { background: green; display: block; height: 12px; margin: 1px 1px 0 1px; }
#HomeButtons .me .progress label { cursor: pointer; position: absolute; display: block; height: 12px; line-height: 12px; font-size: 11px; color: #ccc; top: 0; left: 0; right: 0; text-align: center; }

#me-password h1 { font-weight: normal; font-size: 15px; }
#me-password label { display: inline-block; width: 120px; text-align: right; padding-right: 5px; }

#hometabs { height: 200px; border-radius: 0; }
#homepageiwt { float: right; margin-left: 6px; padding: 0; height: 202px; width: 264px; overflow: hidden; }
#homepageiwt h1, #homepageiwt h2 { line-height: normal; padding: 0; margin: 0; }
#homepageiwt h1 { font-weight: lighter; color: #fff; padding: 0 6px; font-size: 22px; line-height: 26px; }
#homepageiwt h2 { font-size: 13px; font-weight: bold; }
#homepageiwt a.togglelink { color: #fff; text-decoration: none; display: block; height: 24px; line-height: 24px; padding: 0 6px 0 30px; background: transparent url(../images/appbar.add.rest.png) no-repeat -10px center; }
#homepageiwt a.active { background-image: url(../images/appbar.minus.rest.png); }
#homepageiwt div { padding: 1px; }
#homepageiwt div div { padding: 4px; height: 116px; background: #fff; font-size: 11px; overflow: hidden; }
#homepageiwt div div a { float: left; height: 19px; line-height: 19px; padding: 0 26px 0 5px; border: 1px solid #ccc; text-decoration: none; }
#homepageiwt div div a:hover { background: #dbe4f4; }
#homepageiwt img { float: left; margin: 4px 12px 12px 4px; }

.l1 { float: right; margin-top: 1px; height: 16px; width: 16px; background-position: -32px 0; background-image: url(../images/ui-icons_228ef1_256x240.png); }

th span { float: right; }

#errorlist { position: absolute; position: fixed; top: 100px; left: 10px; }
#errorlist div { margin-bottom: 3px; }
#errorlist div .cont { display: none; }

#hapHeader { position: fixed; top: 0; left: 0; right: 0; height: 40px; padding: 0 10px; line-height: 40px; z-index: 99; font-family: '☺SegoeLight', 'Segoe UI Light', 'Segoe UI', Tahoma; font-size: 16px; color: #fff;  }
    #hapHeader a { padding: 0 10px; vertical-align: top; text-decoration: none; display: inline-block; height: 40px; line-height: 40px; color: #fff; }
    #hapHeader a:hover { background-color: #3286C1; }
    #hapHeader a:active { background-color: #004577; }
    #hapHeader #hapTitle { float: left; font-size: 20px; height: 40px; line-height: 40px; }
        #hapHeader #hapTitle:hover { background-color: #00508a; }
        #hapHeader #hapTitle a { background-image: url(../images/icons/metro/hap-logo-20.png); background-repeat: no-repeat; background-position: 10px center; padding-left: 34px; }
        #hapHeader #hapTitle #hapTitleMore { font-family: MSHPIconsRegular; background-image: none; padding: 0 5px; }
#hapUserTitle { position: fixed; right: 0; height: 40px; line-height: 40px; top: 0; z-index: 110; background-color: #0060a6; border-right: solid 10px #0060a6; color: #fff; text-decoration: none; padding: 0 10px; font-size:16px; }
#hapUserTitle:hover { background-color: #3286C1; text-decoration: none; }
#hapUserTitle:active { background-color: #004577; }
.hapmenu { position: fixed; top: 40px; background: #fff; border-style: solid; border-width: 2px; border-top-width: 0; z-index: 101; font-size: 16px; }
.hapmenu a { display: block; background: #fff; color: #000; height: 30px; line-height: 30px; text-decoration: none; padding: 5px 20px; }
    .hapmenu a:hover { background-color: #f3f3f3; }
#hapUserMenu { right: 10px; width: 300px; border-top-width: 2px; margin-top: -2px; }
    #hapUserMenu .mypic { background-color: #0E5D30; float: left; width: 128px; height: 128px; background-position: center top; margin-right: 10px; }

#hapHeaderMore { position: fixed; top: 0; left: 0; right: 0; background-color: #111; padding: 20px; overflow: hidden; z-index: 400; }
#hapHeaderMore .tiles { margin-top: 10px; overflow: hidden; }
#hapHeaderMore .tiles div { display: block; color: #f3f3f3; padding: 0 0 6px 2px; font-family: ☺SegoeLight, 'Segoe UI Light', 'Segoe UI', Tahoma; }
#hapHeaderMore .tiles div div { vertical-align: text-top; padding-top: 2px; }
#hapHeaderMore .tiles div div a { text-align: center; display: inline-block; white-space: normal; background-position: center top; background-repeat: no-repeat; padding-top: 70px; width: 100px; height: 30px; margin-right: 4px; line-height: 13px; font-size: 13px; vertical-align: text-top; color: #fff; text-decoration: none; }

.dropdown:after { margin-left: .35em; font-family: 'MSHPIconsRegular'; content: ''; font-size: .688em; }
.menucontainer { display: inline-block; height: 40px; line-height: 40px; }
.menucontainer:hover { background-color: #00508a; }