.tile-color { background: #0060a6; border-color: #0060a6; }
.tile-border-color { border-color: #0060a6; }
.tile-color-font, #hometabs .ui-tabs-nav li.ui-state-active a, #hometabs .ui-tabs-nav li.ui-state-active a:hover { color: #0060a6; }
.tiles a { background-color: #0060a6; color: #fff; }
.tiles a:hover { background-color: #3286C1; }
.tiles a:active { background-color: #004577; }

html, #hapContent {font-family: Segoe UI, Tahoma; font-size: 13px; }
a img { border: 0; }
#hapContent { padding-top: 20px; }
#Download { float: right; position: absolute; right: 5px; border-radius: 3px; -moz-border-radius: 3px; top: 0; border: solid 1px #7da2ce; padding: 2px 5px; border-top: 0; background: url(../images/bar-a-hover.gif) repeat-x left center; }
#CoreProperties h1 { margin: 0; padding: 0; font-weight: normal; font-size: 18px; }
#CoreProperties table { width: 100%; border: solid 1px #d9d9d9; border-collapse: collapse; font-size: 12px; }
#CoreProperties table td { text-align: center; }
#Document { position: absolute; top: 105px; bottom: 0; left: 0; right: 0; width: 100%; overflow: auto; }
#useroutter { overflow: hidden; }

#usertop { position: absolute; top: 20px; right: 20px; padding: 2px 10px; border: solid 1px gray; border-radius: 3px; box-shadow: 5px 5px 5px #dedede; background: #fff; }

#tab_me_progress { width: 400px; height: 18px; border: solid 1px gray; border-radius: 3px; background: transparent url(../images/progressbar.png) repeat-x top left; position: relative; overflow: hidden; margin: 5px 0 0 0; }
#tab_me_progress div { height: 18px; background: transparent url(../images/progressbar-active.png) repeat-x top left; }
#tab_me_progress label { position: absolute; top: 0; left: 0; right: 0; bottom: 0; text-align: center; font-size: 14px; }

.bookingtable { border: solid 1px #a0a0a0; border-collapse: collapse; padding: 0; margin: 0; background: #fff; width: 100%; position: relative; }
.bookingtable th { border-bottom: solid 1px #a0a0a0; border-top: 0; line-height: 20px; height: 20px; background: #f3f4f6 url(../images/table-head-bg.gif) repeat-x top left; font-weight: normal; padding: 0; margin: 0; font-size: 15px; }
.bookingtable td { font-size: 100%; padding: 0 2px; }
.bookingtable.tickets td { font-size: 94%; text-align: center; }

#loginform { width: 485px; margin: 40px auto; padding: 20px; border: solid 1px gray; border-radius: 10px; box-shadow: 5px 5px 5px #dedede }
#loginform img { margin-bottom: 60px; }
#loginform div { padding: 5px 0; }
#loginform input { font-size: 150%; }
#loginform label { float: left; width: 120px; font-size: 130%; text-align: right; padding: 2px 10px; }
.submit { text-align: center; }
#loginform .submit { padding-top: 30px; }
#loginform .base { padding-top: 60px; padding-left: 60px; padding-bottom: 0; }
#loginform .copyright { padding-left: 60px; font-size: 11px; }

#HomeButtons { margin-top: 6px; }
#HomeButtons, #HomeButtons div div { padding-bottom: 1px; overflow: hidden; }
#HomeButtons div { }
#HomeButtons div div { margin: 0; padding: 0; border-top: 0; position: static; }
#HomeButtons h1 { font-weight: lighter; }

h1.Announcement { background: #fceb80; font-family: Segoe Print, Comic Sans MS; font-size: 12px; color: Red; border: solid 1px #fff; border-radius: 8px; -moz-border-radius: 8px; padding: 4px 10px; }
h1.Announcement b { font-size: 16px; }
#EditAnn { position: relative; }
#EditAnn a.EditAnnLink { position: absolute; right: 0; top: 0; }
#EditAnn a.EditAnnLink img { vertical-align: middle; text-decoration: none; height: 48px; }

#HomeButtons a { float: left; margin: 3px 3px 0 0; padding: 8px; height: 108px; width: 108px; font-size: 11px; text-decoration: none; }
#HomeButtons a span { display: table-cell; text-align: center; width: 108px; height: 90px; line-height: 74px; vertical-align: middle; }
#HomeButtons a:hover { text-decoration: none; }

#hometabs { height: 180px; border-radius: 0; }
#hometabs .ui-tabs-nav li { border-radius: 0; background: transparent; border: 0; color: #fff; }
#hometabs .ui-tabs-nav li a { color: #ddd; }
#hometabs .ui-tabs-nav li a:hover { color: #fff; }
#hometabs .ui-tabs-nav li.ui-state-active { background: #fff; }
#homepageiwt { float: right; margin-left: 6px; padding: 0; height: 182px; width: 264px; overflow: hidden; }
#homepageiwt h1, #homepageiwt h2 { line-height: normal; padding: 0; margin: 0; }
#homepageiwt h1 { font-weight: lighter; color: #fff; padding: 0 6px; font-size: 22px; line-height: 26px; }
#homepageiwt h2 { font-size: 13px; font-weight: bold; }
#homepageiwt a.togglelink { color: #fff; text-decoration: none; display: block; height: 24px; line-height: 24px; padding: 0 6px 0 24px; }
#homepageiwt div { padding: 1px; }
#homepageiwt div div { padding: 4px; background: #fff; font-size: 11px; overflow: hidden; }
#homepageiwt div div a { float: left; height: 19px; line-height: 19px; padding: 0 26px 0 5px; border: 1px solid #ccc; text-decoration: none; }
#homepageiwt div div a:hover { background: #dbe4f4; }
#homepageiwt img { float: left; margin: 4px 12px 12px 4px; }