
body.bookingdisplay, body.bookingdisplay form { padding: 0; margin: 0; width: 100%; height: 100%; }

#bookingsystemcontent p.ui-state-highlight { position: absolute; top: 40px; left: 0; right: 0; margin: 0; }


.bookingdisplay #defaultview, .bookingdisplay #ICT1_ICT2 { width: 100%; height: 100%; padding: 0; margin: 0; }
.bookingdisplay #defaultview div, .bookingdisplay #ICT1_ICT2 div { position: absolute; top: 50px; bottom: -1px; left: 0; right: 0; width: 100%; margin: 0; padding: 0; }
.bookingdisplay table { height: 100%; position: relative; z-index: 100; }
.bookingdisplay table td, .bookingdisplay table tr { vertical-align: middle; }
.bookingdisplay table tr { font-size: 20px }
.bookingdisplay table td.lesson { padding-left: 100px; width: 50px; font-size: 26px; }
.bookingdisplay table td span { font-size: 140%; display: block; }
.bookingdisplay #statebar { position: absolute; top: 50px; height: 0; left: 0; right: 0; background: #dedede; z-index: 99; }
.bookingdisplay { overflow: hidden; }

#bookingsystemcontent { margin: 0 auto; }
#datepicker { z-index: 200; top: 97px; left: 0; }
#bookingday { position: absolute; top: 67px; left: 0; right: 0; bottom: 0; background: #fff; }

#bookingday .head #picker { border: 0; border-radius: 0; width: 100%; height: 30px; line-height: 30px; font-size: 110%; background: #0060a6; color: #fff; padding: 0; font-size: 18px; }
#bookingday .head #picker:hover { background-color: #3286C1; }
#bookingday .head #picker:active { background-color: #004577; }
#bookingday .body { height: 100%; background: #fff; }
#bookingday .body .col, #bookingday #resources div { min-height: 60px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background: #fff; }
#bookingday .body .col div { text-align: center; height: 100%; line-height: 60px; white-space: nowrap; text-overflow: ellipsis; }

#bookingday #resources { color: #fff; padding: 0; width: 156px; float: left; height: 100%; }


#bookingday .body a, #bookingday .body .share, #bookingday h1 { display: block; position: relative; z-index: 10; margin: 2px 0 0 2px; float: left; font-size: 12px; min-width: 134px; padding: 10px 10px; min-height: 38px; height: 100%; background-color: #eee; text-decoration: none; color: #666; cursor: default; white-space: nowrap; text-overflow: ellipsis; }
#bookingday .body a.admin, #bookingday .body a.bookie, #bookingday .body a.free { cursor: pointer; }
#bookingday .body a span { display: block; font-size: 10px; line-height: 12px; }
#bookingday .body a span.state { position: absolute; float: right; top: 0; right: 0; line-height: 16px; height: 14px; overflow: hidden; }
#bookingday .body a span.state span { float: right; display: block; line-height: 16px; height: 14px; width: 0; text-align: right; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; }
#bookingday .body a.admin:hover span.state span, #bookingday .body a.bookie:hover span.state span, #bookingday .body a.free:hover span.state span { width: 60px; transition: width 0.3s ease-in-out; -moz-transition: width 0.3s ease-in-out; -webkit-transition: width 0.3s; -o-transition: width 0.3s; }
#bookingday .body a span.state i { float: right; height: 14px; width: 14px; }
#bookingday .body a span.static i { background: transparent url(../images/ui-icons_454545_256x240.png) no-repeat -66px -80px; }
#bookingday .body a.admin:hover span.static i { background: transparent url(../images/ui-icons_454545_256x240.png) no-repeat -82px -80px; }
#bookingday .body a.admin:hover span.remove i, #bookingday .body a.bookie:hover span.remove i { background: transparent url(../images/ui-icons_454545_256x240.png) no-repeat -178px -98px; }
#bookingday .body a:hover span.book i { background: transparent url(../images/ui-icons_454545_256x240.png) no-repeat -66px -112px; }
#bookingday .body a.admin:hover, #bookingday .body a.bookie:hover, #bookingday .body a.free:hover { background-color: #dedede; }
#bookingday .body a.admin:active, #bookingday .body a.bookie:hover, #bookingday .body a.free:hover { background-color: #ccc; }
#bookingday .body .share a { min-height: 0; height: auto; margin: 0 -10px; float: none; display: block; width: 100%; padding-top: 5px; padding-bottom: 5px; }
#bookingday .body .share { overflow: auto; padding: 0 10px; }
#bookingday .body a.expired, #bookingday .body a.expired:hover, #bookingday .body a.expired:active { cursor: default; background-color: #eee; }
#bookingday .body a.expired span, #bookingday .body a.expired span i { background: transparent!important; width: 0!important; }

#bookingday .body a span i.notes { background: transparent url(../images/ui-icons_454545_256x240.png) no-repeat -131px -99px!important; }
#bookingday .body #time { width: 2px; background: #0ca600; background-color: rgba(12, 166, 0, 0.25); position: absolute; top: 30px; left: 100%; z-index: 90; margin-left: -2px; }

#bookingday .head, #bookingday .body.head .col div { height: 30px!important; line-height: 30px!important; background: #0060a6!important; color: #fff; min-height: 30px!important; }
#bookingday h1 { background: transparent; text-align: center; line-height: 30px!important; height: 30px!important; color: #fff; padding-top: 0; padding-bottom: 0; font-weight: normal; font-size: 15px; }
#bookingday #resources div { background: #0060a6; text-align: center; line-height: 60px; }

#bookingday #resources a { background-color: transparent; display: inline; margin: 0; float: none; position: static; font-size: 14px; width: auto; padding: 0; height: auto; line-height: normal; color: #fff; cursor: pointer;  }
#datepicker .ui-corner-all { border-radius: 0; }
#searchresults .date { width: 100px; display:inline-block; }
#searchresults span { min-width: 60px; display: inline-block; }
#searchresults .newline { border-top: solid 1px #ddd; }

#bookingday .body a .day, #bookingday .body a .daytitle, #bookingday .body a .lesson, #bookingday .body a .room { display: inline-block; }

@media only print {
    #bookingsystemcontent { width: auto!important; }
    #bookingday { overflow: hidden; }
}

#hapHeader #hapTitle a { background-image: url(../api/tiles/icons/24/24/images/icons/metro/applications/calendar.png); background-position: 5px center; }
#datepicker .ui-datepicker { border-top: 0; }

#sidebaredit { top: 40px; z-index: 50; }
#sidebaredit.show { width: 50%; }
#sidebaredit h1 { margin: 0; }
#sidebaredit select, #sidebaredit input, #sidebaredit label { font-size: 16px; }
#sidebaredit label { text-align: left; padding-left: 10px; }
#sidebaredit input#bfsubject { width: 45% }

@media only screen and (max-width: 1024px)  {
    #sidebaredit.show { width: 75%; }
}
@media only screen and (max-width: 800px)  {
    #sidebaredit.show { width: 100%; border: 0; }
}