#loginformside, #hapHomeSide { display: none; }
#loginform, #hapHome { padding-top: 20px; margin: 0; padding-left: 5px; padding-right: 5px; }
#loginform { padding-top: 0; }
#loginform h1, #title h1 { padding-top: 0; font-size: xx-large; text-align: center; }
#loginform h2, #title h2 { padding: 0; font-size: large; text-align: center; }
#loginform label { font-size: large; }
#HomeButtonsHeader { padding-left: 0; line-height: 0; }
#usertop { top: 0; left: 0; right: 0; }
#loginform .copyright { position: static; text-align: right; right: auto; top: auto; bottom: auto; left: auto; }
#hapHeader { height: auto; padding: 0; white-space: normal; top: 40px; left: 0; right: 0!important; clear: both; margin: 0; }
#hapHeader #hapTitle { float: none; }
#hapHeader a { clear: both; float: none!important; }
#hapUserTitle { clear: both; left: 0; right: 0; text-align: right; }
#bookingday, #bookingsystemcontent p.ui-state-highlight { margin-top: 80px!important; }