#Download { float: right; position: absolute; right: 5px; border-radius: 3px; -moz-border-radius: 3px; top: 0; border: solid 1px #7da2ce; padding: 2px 5px; border-top: 0; background: url(../images/bar-a-hover.gif) repeat-x left center; }
#CoreProperties h1 { margin: 0; padding: 0; font-weight: normal; font-size: 18px; }
#CoreProperties table { width: 100%; border: solid 1px #d9d9d9; border-collapse: collapse; font-size: 12px; }
#CoreProperties table td { text-align: center; }
#Document { position: absolute; top: 105px; bottom: 0; left: 0; right: 0; width: 100%; overflow: auto; }

#bar { height: 24px; background: url(../images/bar.gif) repeat-x; padding: 3px 5px 3px 5px; border: solid 1px #7da2ce; border-bottom: 0; }
#bar a { float: left; height: 20px; line-height: 21px; padding: 1px 15px; color: #1f3976; text-decoration: none; }
#bar a.right { float: right; }
#bar a span { display: block; background: url(../images/arrow.gif) no-repeat right 10px; padding: 0 16px 0 0; }
#bar a:hover { background: url(../images/bar-a-hover.gif) repeat-x left center; border-radius: 3px; -moz-border-radius: 3px; text-decoration: none; border: solid 1px #7da2ce; padding: 0 14px; }
#browser { background: #fff; overflow: auto; height: 503px; border: solid 1px #7da2ce; border-top: 0; }
#browser a { float: left; margin: 3px; border: solid 0px #fff; border-radius: 3px; -moz-border-radius: 3px; color: #000; padding: 5px; width: 280px; height: 40px; line-height: 20px; display: block; overflow: hidden; text-decoration: none; }
#browser a i { font-style: normal; color: #999; display: block; font-size: small; }
#browser a u { display: block; height: 12px; border: solid 1px gray; border-radius: 3px; background: transparent url(../images/progressbar.png) repeat-x top left; overflow: hidden; margin: 0; }
#browser a u span { height: 12px; background: transparent url(../images/progressbar-active.png) repeat-x top left; display: block; }
#browser a u label { position: absolute; top: 0; left: 0; right: 0; bottom: 0; text-align: center; font-size: 11px; }
#browser a:hover { border: solid 1px #7da2ce; margin: 2px; background: #f9fbfd url(../images/browser-a-hover.gif) repeat-x; text-decoration: none; }
#browser a img { float: left; margin: 0 4px 0 0; height: 40px; border: 0; }
#browser.Icons a { width: 64px; height: auto; text-align: center; line-height: normal; }
#browser.Icons a i, #browser.Icons a u { display: none; }
#browser.Icons a:hover { background: transparent url(../images/browser-a-hover.gif) repeat-x bottom; }
#browser.Icons a img { float: none; margin: 0 0 4px 0; height: 64px; }
#browser.List a { width: auto; display:block; height: 16px; }
#browser.List a:hover { background: transparent url(../images/browser-a-hover.gif) repeat-x bottom; }
#browser.List a img { height: 16px; }
#browser.List a i, #browser.List a u { display: none; }

#breadcrumbs { height: 20px; line-height: 20px; overflow: hidden; background: #fff; border: solid 1px #7da2ce; border-top: 0; padding: 0 2px; }
#breadcrumbs a { height: 20px; font-size: 12px; line-height: 20px; float: left; padding: 0 5px 0 5px; border-right: solid 1px white; border-left: solid 1px white; color: #000; }
#breadcrumbs a:hover { background: white url(../images/breadcrumbover.gif) repeat-x top left; color #000; border-color: #7da2ce; text-decoration: none; }
#breadcrumbs span { background: white url(../images/arrow-right.gif) no-repeat center center; padding: 0 5px; float: left; height: 20px; line-height: 20px; }

#viewbox { display: none; position: absolute; top: 26px; right: 5px; width: 80px; border: solid 1px #555; background: #eee; padding: 2px; z-index: 450; }
#viewbox.show { display: block; }
#viewbox a, .SimpleContextMenu a { color: #1f3976; display: block; border-radius: 3px; padding: 1px 2px; -moz-border-radius: 3px;  border: solid 1px #eee; text-decoration: none; }
#viewbox a:hover, .SimpleContextMenu a:hover { color: #1f3976; border: solid 1px #7da2ce; background: transparent url(../images/bar-a-hover.gif) repeat-x left center; text-decoration: none; }

.SimpleContextMenu {
	display: none;
	position: absolute;
	margin: 0px;
	padding: 0px;
	border: solid 1px #555; background: #eee; padding: 2px;
}

.watermark {
	background: #FFAAFF;
}

.popupControl {
	background-color:#AAD4FF;
	position:absolute;
	visibility:hidden;
	border-style:solid;
	border-color: Black;
	border-width: 2px;
}

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup 
{
	background: #fff url(../images/bar.gif) repeat-x top left;
	border-width:1px;
	border-style:solid;
	border-color: #7da2ce;
	padding:3px;
	width: 250px;
	border-radius: 3px;
	-moz-border-radius: 3px; 
}
.modalPopup h1 { margin: 0; padding: 0; height: 28px; line-height: 26px; font-size: medium; color: #1f3976; font-weight: normal; }
.modalButtons { text-align: right; border-top: solid 1px #7da2ce; padding: 4px; }

.sampleStyleA {
	background-color:#FFF;
}

.sampleStyleB {
	background-color:#FFF;
	font-family:monospace;
	font-size:10pt;
	font-weight:bold;
}

.sampleStyleC {
	background-color:#ddffdd;
	font-family:sans-serif;
	font-size:10pt;
	font-style:italic;
}

.sampleStyleD {
	background-color:Blue;
	color:White;
	font-family:Arial;
	font-size:10pt;
}