#container { float: none; margin: 0; width: 100%; }
#content { margin: 0; position: relative; padding: 0; }

#timetable { list-style-type: none; margin: 10px auto; padding: 0; border: solid 1px gray; border-radius: 10px; box-shadow: 5px 5px 5px #dedede; overflow: auto; width: 870px; line-height: normal; }
#timetable li { display: block; border-bottom: solid 1px gray; padding: 5px; clear: both; height: 50px; overflow: hidden; }
#timetable li span.day { float: left; height: 45px; line-height: 45px; width: 20px; border-radius: solid 1px #dedede; font-size: 140%; }
#timetable ul { list-style-type: none; margin: 0; padding: 0; }
#timetable ul li { float: left; border-right: solid 1px #dedede; height: 40px; width: 109px; overflow: hidden; clear: none; border-bottom: 0; }
#timetable ul li span { display: block; font-size: 11px; }
#timetable ul li span.period { float: left; height: 40px; padding-right: 5px; line-height: 40px; }
#timetable li:last-child { border: 0; }