<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ADConnectionString" connectionString="LDAP://chs01.crickhowell.internal:389/OU=Establishments,DC=crickhowell,DC=internal"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="ADUsername" value="domain\administrator" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADPassword" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EstablishmentName" value="CHS" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SharedDocsUNC" value="\\chs01\RMShared Documents" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RMStaffUNC" value="\\chs01\RMStaff" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AdminServerUNC" value="\\crickhow-ucczkk\homes\{1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="StudentPhotoHandler" value="p.ashx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableLearningResources" value="True" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableAdmin" value="True" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AllowEditingTo" value="All" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AllowRDWebTo" value="All" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="StudentGroup" value="CHS Students" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AdminStaffGroup" value="Admin Staff" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SMTGroup" value="Senior Management Team" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="StudentEmailFormat" value="{0}@students.crickhowell-hs.powys.sch.uk" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <membership defaultProvider="DomainLoginMembershipProvider">
      <providers>
        <add name="DomainLoginMembershipProvider" attributeMapUsername="sAMAccountName" type="CHS.ActiveDirectoryMembershipProvider,CHS" connectionStringName="ADConnectionString" connectionUsername="domain\administrator" connectionPassword="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ActiveDirectoryRoleProvider">
      <providers>
        <clear/>
        <add name="ActiveDirectoryRoleProvider" type="CHS.ActiveDirectoryRoleProvider,CHS" connectionStringName="ADConnectionString" connectionUsername="domain\administrator" connectionPassword="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      </providers>
    </roleManager>
  </system.web>
</configuration>