<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>\\chs03\wwwroot\hap2</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="api.asmx">
      <publishTime>06/04/2011 22:39:33</publishTime>
    </File>
    <File Include="App_Data/abr.xml">
      <publishTime>06/04/2011 22:39:36</publishTime>
    </File>
    <File Include="App_Data/Announcement.xml">
      <publishTime>06/04/2011 22:39:36</publishTime>
    </File>
    <File Include="App_Data/Bookings.xml">
      <publishTime>06/04/2011 22:39:36</publishTime>
    </File>
    <File Include="App_Data/BookingTemplates.xml">
      <publishTime>06/04/2011 22:39:36</publishTime>
    </File>
    <File Include="App_Data/StaticBookings.xml">
      <publishTime>06/04/2011 22:39:36</publishTime>
    </File>
    <File Include="App_Data/TermDates.xml">
      <publishTime>06/04/2011 22:39:36</publishTime>
    </File>
    <File Include="App_Data/Tickets.xml">
      <publishTime>06/04/2011 22:39:36</publishTime>
    </File>
    <File Include="App_Data/timetables.xml">
      <publishTime>09/03/2011 21:36:52</publishTime>
    </File>
    <File Include="App_Data/tracker.xml">
      <publishTime>06/04/2011 22:39:36</publishTime>
    </File>
    <File Include="bin/AjaxControlToolkit.dll">
      <publishTime>07/31/2011 23:09:32</publishTime>
    </File>
    <File Include="bin/Excel.dll">
      <publishTime>08/24/2009 17:23:16</publishTime>
    </File>
    <File Include="bin/HAP.AD.dll">
      <publishTime>11/28/2011 22:01:05</publishTime>
    </File>
    <File Include="bin/HAP.AD.pdb">
      <publishTime>11/28/2011 22:01:05</publishTime>
    </File>
    <File Include="bin/HAP.Data.dll">
      <publishTime>11/28/2011 22:01:06</publishTime>
    </File>
    <File Include="bin/HAP.Data.pdb">
      <publishTime>11/28/2011 22:01:05</publishTime>
    </File>
    <File Include="bin/HAP.Data.SQL.dll">
      <publishTime>11/28/2011 22:01:06</publishTime>
    </File>
    <File Include="bin/HAP.Data.SQL.pdb">
      <publishTime>11/28/2011 22:01:06</publishTime>
    </File>
    <File Include="bin/HAP.Web.Configuration.dll">
      <publishTime>11/28/2011 22:01:03</publishTime>
    </File>
    <File Include="bin/HAP.Web.Configuration.pdb">
      <publishTime>11/28/2011 22:01:03</publishTime>
    </File>
    <File Include="bin/HAP.Web.dll">
      <publishTime>11/28/2011 22:09:10</publishTime>
    </File>
    <File Include="bin/HAP.Web.Logging.dll">
      <publishTime>10/31/2011 17:48:19</publishTime>
    </File>
    <File Include="bin/HAP.Web.Logging.pdb">
      <publishTime>10/31/2011 17:48:19</publishTime>
    </File>
    <File Include="bin/HAP.Web.pdb">
      <publishTime>11/28/2011 22:09:10</publishTime>
    </File>
    <File Include="bin/ICSharpCode.SharpZipLib.dll">
      <publishTime>08/07/2008 18:31:12</publishTime>
    </File>
    <File Include="bin/Microsoft.Office.DocumentFormat.OpenXml.dll">
      <publishTime>02/22/2010 01:02:10</publishTime>
    </File>
    <File Include="BookingSystem/admin/Default.aspx">
      <publishTime>11/24/2011 21:42:42</publishTime>
    </File>
    <File Include="BookingSystem/admin/Web.config">
      <publishTime>06/04/2011 22:39:37</publishTime>
    </File>
    <File Include="BookingSystem/api.ashx">
      <publishTime>09/03/2011 18:00:46</publishTime>
    </File>
    <File Include="BookingSystem/bookingsystem.css">
      <publishTime>09/13/2011 20:39:47</publishTime>
    </File>
    <File Include="BookingSystem/Default.aspx">
      <publishTime>11/25/2011 19:48:29</publishTime>
    </File>
    <File Include="BookingSystem/Display.aspx">
      <publishTime>10/06/2011 17:13:47</publishTime>
    </File>
    <File Include="BookingSystem/loading.gif">
      <publishTime>06/04/2011 22:39:36</publishTime>
    </File>
    <File Include="BookingSystem/OverviewCalendar.ascx">
      <publishTime>06/04/2011 22:39:36</publishTime>
    </File>
    <File Include="BookingSystem/OverviewCalendar.aspx">
      <publishTime>09/23/2011 23:26:38</publishTime>
    </File>
    <File Include="BookingSystem/SIMS.ascx">
      <publishTime>06/04/2011 22:39:36</publishTime>
    </File>
    <File Include="BookingSystem/Web.config">
      <publishTime>10/06/2011 17:13:47</publishTime>
    </File>
    <File Include="BookingSystem/WeekView.aspx">
      <publishTime>09/03/2011 21:33:18</publishTime>
    </File>
    <File Include="ClientBin/HAP.Silverlight.Browser.xap">
      <publishTime>11/17/2011 18:47:28</publishTime>
    </File>
    <File Include="ClientBin/HAP.Silverlight.xap">
      <publishTime>10/31/2011 17:48:18</publishTime>
    </File>
    <File Include="Controls/Announcement.ascx">
      <publishTime>06/04/2011 22:39:37</publishTime>
    </File>
    <File Include="Controls/Delete.ascx">
      <publishTime>06/04/2011 22:39:37</publishTime>
    </File>
    <File Include="Controls/NewFolder.ascx">
      <publishTime>06/04/2011 22:39:37</publishTime>
    </File>
    <File Include="Controls/Rename.ascx">
      <publishTime>06/04/2011 22:39:37</publishTime>
    </File>
    <File Include="Controls/Unzip.ascx">
      <publishTime>06/04/2011 22:39:37</publishTime>
    </File>
    <File Include="Controls/UpdateChecker.ascx">
      <publishTime>06/04/2011 22:39:37</publishTime>
    </File>
    <File Include="Controls/Upload.ascx">
      <publishTime>09/19/2011 18:26:05</publishTime>
    </File>
    <File Include="Controls/Zip.ascx">
      <publishTime>06/04/2011 22:39:37</publishTime>
    </File>
    <File Include="Default.aspx">
      <publishTime>10/22/2011 18:48:33</publishTime>
    </File>
    <File Include="favicon.ico">
      <publishTime>06/04/2011 22:40:18</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>06/04/2011 22:39:33</publishTime>
    </File>
    <File Include="haplogo-icon.ico">
      <publishTime>06/04/2011 22:40:21</publishTime>
    </File>
    <File Include="HelpDesk/Default.aspx">
      <publishTime>11/25/2011 19:48:19</publishTime>
    </File>
    <File Include="HelpDesk/helpdesksheet.css">
      <publishTime>06/04/2011 22:39:38</publishTime>
    </File>
    <File Include="HelpDesk/newadminnote.htm">
      <publishTime>10/31/2011 22:26:24</publishTime>
    </File>
    <File Include="HelpDesk/newadminticket.htm">
      <publishTime>10/15/2011 17:18:25</publishTime>
    </File>
    <File Include="HelpDesk/newusernote.htm">
      <publishTime>10/15/2011 17:18:25</publishTime>
    </File>
    <File Include="HelpDesk/newuserticket.htm">
      <publishTime>10/15/2011 17:18:25</publishTime>
    </File>
    <File Include="HelpDesk/Web.config">
      <publishTime>08/29/2011 18:20:46</publishTime>
    </File>
    <File Include="images/appbar.add.rest.png">
      <publishTime>10/09/2011 15:56:02</publishTime>
    </File>
    <File Include="images/appbar.minus.rest.png">
      <publishTime>10/09/2011 15:56:02</publishTime>
    </File>
    <File Include="images/arrow-collapse.png">
      <publishTime>06/26/2011 19:31:56</publishTime>
    </File>
    <File Include="images/arrow-collapseover.png">
      <publishTime>06/26/2011 19:32:53</publishTime>
    </File>
    <File Include="images/arrow-expand.png">
      <publishTime>06/26/2011 19:27:57</publishTime>
    </File>
    <File Include="images/arrow-expandover.png">
      <publishTime>06/26/2011 19:30:14</publishTime>
    </File>
    <File Include="images/arrow-right.gif">
      <publishTime>06/04/2011 22:39:38</publishTime>
    </File>
    <File Include="images/arrow.gif">
      <publishTime>06/04/2011 22:39:38</publishTime>
    </File>
    <File Include="images/bar-a-hover.gif">
      <publishTime>06/04/2011 22:39:38</publishTime>
    </File>
    <File Include="images/bar.gif">
      <publishTime>06/04/2011 22:39:38</publishTime>
    </File>
    <File Include="images/booking-system.png">
      <publishTime>10/08/2011 17:50:32</publishTime>
    </File>
    <File Include="images/breadcrumbover.gif">
      <publishTime>06/04/2011 22:39:38</publishTime>
    </File>
    <File Include="images/browser-a-booked-hover.gif">
      <publishTime>06/04/2011 22:39:38</publishTime>
    </File>
    <File Include="images/browser-a-hover.gif">
      <publishTime>06/04/2011 22:39:38</publishTime>
    </File>
    <File Include="images/browser-a-override-hover.gif">
      <publishTime>06/04/2011 22:39:38</publishTime>
    </File>
    <File Include="images/dashed.gif">
      <publishTime>06/04/2011 22:39:38</publishTime>
    </File>
    <File Include="images/h2bg.gif">
      <publishTime>06/26/2011 18:58:13</publishTime>
    </File>
    <File Include="images/h2bgover.gif">
      <publishTime>06/26/2011 19:09:14</publishTime>
    </File>
    <File Include="images/haplogo.png">
      <publishTime>06/04/2011 22:39:38</publishTime>
    </File>
    <File Include="images/helpdesk.png">
      <publishTime>10/15/2011 17:18:29</publishTime>
    </File>
    <File Include="images/icons.gif">
      <publishTime>08/06/2011 21:20:52</publishTime>
    </File>
    <File Include="images/icons/069.png">
      <publishTime>10/06/2011 17:13:52</publishTime>
    </File>
    <File Include="images/icons/access.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/bmp.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/bookingsystem.png">
      <publishTime>10/06/2011 17:13:48</publishTime>
    </File>
    <File Include="images/icons/config.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/cs.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/csv.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/dbup.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/doc.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/dot.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/edit.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/email.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/excel-app.png">
      <publishTime>10/06/2011 17:13:52</publishTime>
    </File>
    <File Include="images/icons/exe.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/file.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/folder.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/gif.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/helpdesk.png">
      <publishTime>10/06/2011 17:13:48</publishTime>
    </File>
    <File Include="images/icons/htm.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/Imageres18.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/jpg.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/knownicons.xml">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/mp3.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/msaccess.png">
      <publishTime>10/06/2011 17:13:52</publishTime>
    </File>
    <File Include="images/icons/msi.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/mspub-app.png">
      <publishTime>10/06/2011 17:13:52</publishTime>
    </File>
    <File Include="images/icons/mydownloads.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/myfavs.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/mymusic.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/mypictures.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/myvideos.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/net.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/netdrive.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/NewFolder.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/outlook-app.png">
      <publishTime>10/06/2011 17:13:52</publishTime>
    </File>
    <File Include="images/icons/pdf.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/png.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/pot.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/powerpnt-app.png">
      <publishTime>10/06/2011 17:13:52</publishTime>
    </File>
    <File Include="images/icons/pps.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/ppt.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/pub.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/rdp.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/remotedesktop.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/rm.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/rtf.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/sbase-app.png">
      <publishTime>10/06/2011 17:13:52</publishTime>
    </File>
    <File Include="images/icons/scalc-app.png">
      <publishTime>10/06/2011 17:13:52</publishTime>
    </File>
    <File Include="images/icons/school.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/sdraw-app.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/settings.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/setup.png">
      <publishTime>09/02/2009 22:04:44</publishTime>
    </File>
    <File Include="images/icons/simpress-app.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/SIMS-app.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/smath-app.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/swriter-app.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/tracker-historic.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/tracker-live.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/tracker.png">
      <publishTime>10/06/2011 17:13:48</publishTime>
    </File>
    <File Include="images/icons/txt.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/vid.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/white/069.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/access.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/bmp.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/bookingsystem.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/config.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/cs.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/csv.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/dbup.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/doc.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/dot.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/edit.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/email.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/excel-app.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/exe.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/file.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/folder.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/gif.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/helpdesk.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/htm.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/Imageres18.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/jpg.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/mp3.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/msaccess.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/msi.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/mspub-app.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/mydownloads.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/myfavs.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/mymusic.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/mypictures.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/myvideos.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/net.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/netdrive.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/NewFolder.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/outlook-app.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/white/pdf.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/png.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/pot.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/powerpnt-app.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/pps.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/ppt.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/pub.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/rdp.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/remotedesktop.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/rm.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/rtf.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/sbase-app.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/scalc-app.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/school.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/sdraw-app.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/settings.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/setup.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/simpress-app.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/SIMS-app.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/smath-app.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/swriter-app.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/tracker-historic.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/tracker-live.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/tracker.png">
      <publishTime>10/06/2011 17:13:54</publishTime>
    </File>
    <File Include="images/icons/white/txt.png">
      <publishTime>10/06/2011 17:13:55</publishTime>
    </File>
    <File Include="images/icons/white/vid.png">
      <publishTime>10/06/2011 17:13:55</publishTime>
    </File>
    <File Include="images/icons/white/winword-app.png">
      <publishTime>10/06/2011 17:13:55</publishTime>
    </File>
    <File Include="images/icons/white/xaml.png">
      <publishTime>10/06/2011 17:13:55</publishTime>
    </File>
    <File Include="images/icons/white/xls.png">
      <publishTime>10/06/2011 17:13:55</publishTime>
    </File>
    <File Include="images/icons/white/xlt.png">
      <publishTime>10/06/2011 17:13:55</publishTime>
    </File>
    <File Include="images/icons/white/xml.png">
      <publishTime>10/06/2011 17:13:55</publishTime>
    </File>
    <File Include="images/icons/white/xps.png">
      <publishTime>10/06/2011 17:13:55</publishTime>
    </File>
    <File Include="images/icons/white/zip.png">
      <publishTime>10/06/2011 17:13:55</publishTime>
    </File>
    <File Include="images/icons/winword-app.png">
      <publishTime>10/06/2011 17:13:53</publishTime>
    </File>
    <File Include="images/icons/xaml.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/xls.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/xlt.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/xml.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/xps.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/icons/zip.png">
      <publishTime>08/27/2011 20:43:23</publishTime>
    </File>
    <File Include="images/Imageres18.png">
      <publishTime>06/04/2011 22:39:38</publishTime>
    </File>
    <File Include="images/loading.gif">
      <publishTime>06/04/2011 22:39:38</publishTime>
    </File>
    <File Include="images/myfiles.png">
      <publishTime>10/16/2011 16:26:35</publishTime>
    </File>
    <File Include="images/progressbar-active.png">
      <publishTime>06/04/2011 22:39:38</publishTime>
    </File>
    <File Include="images/progressbar.png">
      <publishTime>06/04/2011 22:39:38</publishTime>
    </File>
    <File Include="images/setup/1.png">
      <publishTime>06/10/2011 20:32:04</publishTime>
    </File>
    <File Include="images/setup/2.png">
      <publishTime>06/10/2011 20:32:04</publishTime>
    </File>
    <File Include="images/setup/266.png">
      <publishTime>06/10/2011 19:36:19</publishTime>
    </File>
    <File Include="images/setup/267.png">
      <publishTime>06/10/2011 19:35:37</publishTime>
    </File>
    <File Include="images/setup/78.png">
      <publishTime>06/10/2011 20:26:27</publishTime>
    </File>
    <File Include="images/Silverlight-Prompt.png">
      <publishTime>06/04/2011 22:39:39</publishTime>
    </File>
    <File Include="images/statusicons/fixed.png">
      <publishTime>06/04/2011 22:39:40</publishTime>
    </File>
    <File Include="images/statusicons/new.png">
      <publishTime>06/04/2011 22:39:40</publishTime>
    </File>
    <File Include="images/statusicons/newadmin.png">
      <publishTime>06/04/2011 22:39:40</publishTime>
    </File>
    <File Include="images/statusicons/newticket.png">
      <publishTime>06/04/2011 22:39:40</publishTime>
    </File>
    <File Include="images/statusicons/priority_high.png">
      <publishTime>06/04/2011 22:39:40</publishTime>
    </File>
    <File Include="images/statusicons/priority_low.png">
      <publishTime>06/04/2011 22:39:40</publishTime>
    </File>
    <File Include="images/statusicons/priority_normal.png">
      <publishTime>06/04/2011 22:39:40</publishTime>
    </File>
    <File Include="images/statusicons/withit.png">
      <publishTime>06/04/2011 22:39:41</publishTime>
    </File>
    <File Include="images/table-head-bg.gif">
      <publishTime>06/04/2011 22:39:38</publishTime>
    </File>
    <File Include="images/ui-bg_diagonals-thick_18_b81900_40x40.png">
      <publishTime>08/05/2011 13:53:06</publishTime>
    </File>
    <File Include="images/ui-bg_diagonals-thick_20_666666_40x40.png">
      <publishTime>08/05/2011 13:53:08</publishTime>
    </File>
    <File Include="images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>08/05/2011 23:21:07</publishTime>
    </File>
    <File Include="images/ui-bg_flat_10_000000_40x100.png">
      <publishTime>08/05/2011 13:53:08</publishTime>
    </File>
    <File Include="images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>08/05/2011 23:21:07</publishTime>
    </File>
    <File Include="images/ui-bg_glass_100_f6f6f6_1x400.png">
      <publishTime>08/05/2011 13:53:06</publishTime>
    </File>
    <File Include="images/ui-bg_glass_100_fdf5ce_1x400.png">
      <publishTime>08/05/2011 13:53:06</publishTime>
    </File>
    <File Include="images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>08/05/2011 23:21:07</publishTime>
    </File>
    <File Include="images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>08/05/2011 23:21:07</publishTime>
    </File>
    <File Include="images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>08/05/2011 23:21:07</publishTime>
    </File>
    <File Include="images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>08/05/2011 23:21:07</publishTime>
    </File>
    <File Include="images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>08/05/2011 23:21:07</publishTime>
    </File>
    <File Include="images/ui-bg_gloss-wave_35_f6a828_500x100.png">
      <publishTime>08/05/2011 13:53:06</publishTime>
    </File>
    <File Include="images/ui-bg_highlight-soft_100_eeeeee_1x100.png">
      <publishTime>08/05/2011 13:53:06</publishTime>
    </File>
    <File Include="images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>08/05/2011 23:21:07</publishTime>
    </File>
    <File Include="images/ui-bg_highlight-soft_75_ffe45c_1x100.png">
      <publishTime>08/05/2011 13:53:06</publishTime>
    </File>
    <File Include="images/ui-icons_222222_256x240.png">
      <publishTime>08/05/2011 23:21:07</publishTime>
    </File>
    <File Include="images/ui-icons_228ef1_256x240.png">
      <publishTime>08/05/2011 13:53:08</publishTime>
    </File>
    <File Include="images/ui-icons_2e83ff_256x240.png">
      <publishTime>08/05/2011 23:21:07</publishTime>
    </File>
    <File Include="images/ui-icons_454545_256x240.png">
      <publishTime>08/05/2011 23:21:07</publishTime>
    </File>
    <File Include="images/ui-icons_888888_256x240.png">
      <publishTime>08/05/2011 23:21:07</publishTime>
    </File>
    <File Include="images/ui-icons_cd0a0a_256x240.png">
      <publishTime>08/05/2011 23:21:07</publishTime>
    </File>
    <File Include="images/ui-icons_ef8c08_256x240.png">
      <publishTime>08/05/2011 13:53:08</publishTime>
    </File>
    <File Include="images/ui-icons_ffd27a_256x240.png">
      <publishTime>08/05/2011 13:53:08</publishTime>
    </File>
    <File Include="images/ui-icons_ffffff_256x240.png">
      <publishTime>08/05/2011 13:53:08</publishTime>
    </File>
    <File Include="images/Web.config">
      <publishTime>09/03/2011 22:12:25</publishTime>
    </File>
    <File Include="Login.aspx">
      <publishTime>11/20/2011 18:25:36</publishTime>
    </File>
    <File Include="masterpage.master">
      <publishTime>09/13/2011 19:51:31</publishTime>
    </File>
    <File Include="move.aspx">
      <publishTime>06/04/2011 22:39:34</publishTime>
    </File>
    <File Include="mycomputer.aspx">
      <publishTime>10/22/2011 18:48:32</publishTime>
    </File>
    <File Include="MyComputerSL.aspx">
      <publishTime>10/22/2011 18:48:33</publishTime>
    </File>
    <File Include="MyFiles/Default.aspx">
      <publishTime>11/25/2011 19:48:48</publishTime>
    </File>
    <File Include="MyFiles/Web.config">
      <publishTime>10/29/2011 18:13:18</publishTime>
    </File>
    <File Include="p.ashx">
      <publishTime>06/04/2011 22:39:35</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.1.min.js">
      <publishTime>11/25/2011 19:47:32</publishTime>
    </File>
    <File Include="Scripts/jquery-Gtimepicker.js">
      <publishTime>08/29/2011 16:25:21</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.16.custom.min.js">
      <publishTime>10/08/2011 21:44:02</publishTime>
    </File>
    <File Include="Scripts/jquery.ba-hashchange.min.js">
      <publishTime>09/20/2011 18:12:38</publishTime>
    </File>
    <File Include="Scripts/jquery.contextMenu.js">
      <publishTime>10/29/2011 18:14:05</publishTime>
    </File>
    <File Include="Scripts/jquery.dataTables.js">
      <publishTime>10/15/2011 17:18:30</publishTime>
    </File>
    <File Include="Scripts/jquery.dynatree.js">
      <publishTime>08/29/2011 16:25:21</publishTime>
    </File>
    <File Include="Scripts/rightclick.js">
      <publishTime>06/04/2011 22:39:42</publishTime>
    </File>
    <File Include="Scripts/Silverlight.js">
      <publishTime>06/04/2011 22:39:42</publishTime>
    </File>
    <File Include="Scripts/viewmode.js">
      <publishTime>06/04/2011 22:39:42</publishTime>
    </File>
    <File Include="Scripts/Web.config">
      <publishTime>09/03/2011 22:12:26</publishTime>
    </File>
    <File Include="Setup.aspx">
      <publishTime>11/28/2011 21:57:54</publishTime>
    </File>
    <File Include="style/basestyle.css">
      <publishTime>10/23/2011 14:30:14</publishTime>
    </File>
    <File Include="style/bookingsystem.css">
      <publishTime>10/15/2011 17:18:25</publishTime>
    </File>
    <File Include="style/helpdesk.css">
      <publishTime>10/15/2011 17:18:25</publishTime>
    </File>
    <File Include="style/jquery-ui.css">
      <publishTime>10/16/2011 16:43:28</publishTime>
    </File>
    <File Include="style/mycomputer.css">
      <publishTime>09/04/2011 01:29:51</publishTime>
    </File>
    <File Include="style/MyFiles.css">
      <publishTime>11/22/2011 21:34:06</publishTime>
    </File>
    <File Include="style/setup.css">
      <publishTime>09/20/2011 18:50:26</publishTime>
    </File>
    <File Include="style/timetable.css">
      <publishTime>10/06/2011 17:13:48</publishTime>
    </File>
    <File Include="style/ui.dynatree.css">
      <publishTime>08/29/2011 18:11:34</publishTime>
    </File>
    <File Include="style/Web.config">
      <publishTime>09/03/2011 22:12:26</publishTime>
    </File>
    <File Include="Timetable.aspx">
      <publishTime>09/13/2011 20:21:00</publishTime>
    </File>
    <File Include="Tracker/api.asmx">
      <publishTime>06/04/2011 22:39:42</publishTime>
    </File>
    <File Include="Tracker/Default.aspx">
      <publishTime>10/15/2011 17:18:25</publishTime>
    </File>
    <File Include="Tracker/live.aspx">
      <publishTime>11/28/2011 21:35:57</publishTime>
    </File>
    <File Include="Tracker/log.aspx">
      <publishTime>09/03/2011 21:33:17</publishTime>
    </File>
    <File Include="Tracker/logontracker-small.png">
      <publishTime>06/04/2011 22:39:42</publishTime>
    </File>
    <File Include="Tracker/logontracker.png">
      <publishTime>06/04/2011 22:39:42</publishTime>
    </File>
    <File Include="Tracker/logs.aspx">
      <publishTime>09/03/2011 21:33:17</publishTime>
    </File>
    <File Include="Tracker/tracker.css">
      <publishTime>09/13/2011 20:41:22</publishTime>
    </File>
    <File Include="Tracker/Web.config">
      <publishTime>08/29/2011 18:19:52</publishTime>
    </File>
    <File Include="Tracker/XML2SQL.aspx">
      <publishTime>09/03/2011 21:33:17</publishTime>
    </File>
    <File Include="unauthorised.aspx">
      <publishTime>09/03/2011 21:33:17</publishTime>
    </File>
    <File Include="UploadH.aspx">
      <publishTime>06/04/2011 22:39:35</publishTime>
    </File>
    <File Include="UserCard/api.asmx">
      <publishTime>06/04/2011 22:39:43</publishTime>
    </File>
    <File Include="UserCard/Web.config">
      <publishTime>09/03/2011 22:41:45</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>11/09/2011 16:29:40</publishTime>
    </File>
    <File Include="xls.aspx">
      <publishTime>06/04/2011 22:39:35</publishTime>
    </File>
  </ItemGroup>
</Project>