<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Domain Admins" />
      <deny users="*" />
    </authorization>
  </system.web>
  <location path="api.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>