/*******************************************************************************
 * Tree container
 */
ul.dynatree-container
{
	white-space: nowrap;
	padding: 3px;
}

ul.dynatree-container ul
{
	padding: 0 0 0 16px;
	margin: 0;
}

ul.dynatree-container li
{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	-moz-background-clip:border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background-attachment: scroll;
	background-color: transparent;
	background-position: 0 0;
	background-repeat: repeat-y;
	background-image: none;  /* no v-lines */

	margin:0;
	padding:1px 0 0 0;
}
/* Suppress lines for last child node */
ul.dynatree-container li.dynatree-lastsib
{
	background-image: none;
}
/* Suppress lines if level is fixed expanded (option minExpandLevel) */
ul.dynatree-no-connector > li
{
	background-image: none;
}

/* Style, when control is disabled */
.ui-dynatree-disabled ul.dynatree-container
{
	opacity: 0.5;
/*	filter: alpha(opacity=50); /* Yields a css warning */
	background-color: silver;
}


/*******************************************************************************
 * Common icon definitions
 */
span.dynatree-empty,
span.dynatree-vline,
span.dynatree-connector,
span.dynatree-expander,
span.dynatree-icon,
span.dynatree-checkbox,
span.dynatree-radio,
span.dynatree-drag-helper-img,
#dynatree-drop-marker
{
	width: 16px;
	height: 16px;
	display: -moz-inline-box; /* @ FF 1+2 */
	display: inline-block; /* Required to make a span sizeable */
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: left;
	background-image: url(../images/icons.gif);
	background-position: 0 0;
}

/** Used by 'icon' node option: */
ul.dynatree-container img
{
	margin: 0 3px; padding: 0;
	vertical-align: text-bottom;
	border-style: none;
}


/*******************************************************************************
 * Lines and connectors
 */

/*
span.dynatree-empty
{
}
span.dynatree-vline
{
}
*/
span.dynatree-connector
{
	background-image: none;
}
/*
.dynatree-lastsib span.dynatree-connector
{
}
*/
/*******************************************************************************
 * Expander icon
 * Note: IE6 doesn't correctly evaluate multiples class names,
 *		 so we create combined class names that can be used in the CSS.
 *
 * Prefix: dynatree-exp-
 * 1st character: 'e': expanded, 'c': collapsed
 * 2nd character (optional): 'd': lazy (Delayed)
 * 3rd character (optional): 'l': Last sibling
 */

span.dynatree-expander
{
	background-position: 0px -80px;
	cursor: pointer;
}
span.dynatree-expander:hover
{
	background-position: -16px -80px;
}
.dynatree-exp-cl span.dynatree-expander /* Collapsed, not delayed, last sibling */
{
}
.dynatree-exp-cd span.dynatree-expander /* Collapsed, delayed, not last sibling */
{
}
.dynatree-exp-cdl span.dynatree-expander /* Collapsed, delayed, last sibling */
{
}
.dynatree-exp-e span.dynatree-expander,  /* Expanded, not delayed, not last sibling */
.dynatree-exp-ed span.dynatree-expander,  /* Expanded, delayed, not last sibling */
.dynatree-exp-el span.dynatree-expander,  /* Expanded, not delayed, last sibling */
.dynatree-exp-edl span.dynatree-expander  /* Expanded, delayed, last sibling */
{
	background-position: -32px -80px;
}
.dynatree-exp-e span.dynatree-expander:hover,  /* Expanded, not delayed, not last sibling */
.dynatree-exp-ed span.dynatree-expander:hover,  /* Expanded, delayed, not last sibling */
.dynatree-exp-el span.dynatree-expander:hover,  /* Expanded, not delayed, last sibling */
.dynatree-exp-edl span.dynatree-expander:hover  /* Expanded, delayed, last sibling */
{
	background-position: -48px -80px;
}
.dynatree-loading span.dynatree-expander  /* 'Loading' status overrides all others */
{
	background-position: 0 0;
	background-image: url(../images/loading.gif);
}

/*******************************************************************************
 * Node type icon
 * Note: IE6 doesn't correctly evaluate multiples class names,
 *		 so we create combined class names that can be used in the CSS.
 *
 * Prefix: dynatree-ico-
 * 1st character: 'e': expanded, 'c': collapsed
 * 2nd character (optional): 'f': folder
 */

span.dynatree-icon /* Default icon */
{
	margin-left: 3px;
	background-position: 0px 0px;
}

.dynatree-has-children span.dynatree-icon /* Default icon */
{
/*    background-position: 0px -16px; */
}

.dynatree-ico-cf span.dynatree-icon  /* Collapsed Folder */
{
	background-position: 0px -16px;
}

.dynatree-ico-ef span.dynatree-icon  /* Expanded Folder */
{
	background-position: -64px -16px;
}

/* Status node icons */

.dynatree-statusnode-wait span.dynatree-icon
{
	background-image: url(../images/loading.gif);
}

.dynatree-statusnode-error span.dynatree-icon
{
	background-position: 0px -112px;
/*	background-image: url("ltError.gif");*/
}