<?xml version="1.0"?>
<!--
	Under IIS7.5, the application pool identity will be IIS APPPOOL\$apppool$, where $apppool$ is the application pool have is running under. You will need to grant permission to the App_Data folder to this user
-->
<configuration>
  <connectionStrings>
    <add name="SQLConnectionString" connectionString="Server=localhost;Database=hap;Trusted_Connection=True;"/>
  </connectionStrings>
  <system.web>
    <sessionState mode="InProc" compressionEnabled="true" />
    <pages>
      <controls>
        <add assembly="HAP.Web" namespace="HAP.Web.Controls" tagPrefix="hap" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" defaultUrl="~/" />
    </authentication>
    <membership defaultProvider="admp">
      <providers>
        <clear />
        <add name="admp" type="HAP.AD.MembershipProvider" />
      </providers>
    </membership>
    <roleManager defaultProvider="adrp" enabled="true">
      <providers>
        <clear />
        <add name="adrp" type="HAP.AD.RoleProvider"/>
      </providers>
    </roleManager>
    <authorization>
      <deny users="?" />
    </authorization>
    <customErrors mode="Off" />
  </system.web>

  <!-- 
				The system.webServer section is required for running ASP.NET AJAX under Internet
				Information Services 7.0.  It is not necessary for previous version of IIS.
		-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="App_WebReferences" />
          <remove segment="App_LocalResources" />
          <remove segment="App_GlobalResources" />
          <remove segment="App_code" />
          <remove segment="bin" />
          <remove segment="web.config" />
          <remove segment="App_Browsers" />
        </hiddenSegments>
        <fileExtensions>
          <remove fileExtension=".vsdisco" />
          <remove fileExtension=".sdmDocument" />
          <remove fileExtension=".sdm" />
          <remove fileExtension=".sd" />
          <remove fileExtension=".refresh" />
          <remove fileExtension=".msgx" />
          <remove fileExtension=".mdf" />
          <remove fileExtension=".lsaprototype" />
          <remove fileExtension=".ldf" />
          <remove fileExtension=".lddprototype" />
          <remove fileExtension=".ldd" />
          <remove fileExtension=".exclude" />
          <remove fileExtension=".dsprototype" />
          <remove fileExtension=".dd" />
          <remove fileExtension=".compiled" />
          <remove fileExtension=".cd" />
          <remove fileExtension=".adprototype" />
          <remove fileExtension=".ad" />
          <remove fileExtension=".ssmap" />
          <remove fileExtension=".ssdgm" />
          <remove fileExtension=".dsdgm" />
          <remove fileExtension=".ldb" />
          <remove fileExtension=".jsl" />
          <remove fileExtension=".java" />
          <remove fileExtension=".vjsproj" />
          <remove fileExtension=".mdb" />
          <remove fileExtension=".resources" />
          <remove fileExtension=".resx" />
          <remove fileExtension=".licx" />
          <remove fileExtension=".webinfo" />
          <remove fileExtension=".vbproj" />
          <remove fileExtension=".vb" />
          <remove fileExtension=".csproj" />
          <remove fileExtension=".skin" />
          <remove fileExtension=".ascx" />
          <remove fileExtension=".master" />
          <remove fileExtension=".browser" />
          <remove fileExtension=".sitemap" />
          <remove fileExtension=".cs" />
          <remove fileExtension=".lsad" />
          <remove fileExtension=".asax" />
          <remove fileExtension=".config" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <staticContent>
      <!--For IIS8 Remove this Section -->
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
      <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <mimeMap fileExtension=".oga" mimeType="audio/ogg" />
      <mimeMap fileExtension=".spx" mimeType="audio/ogg" />
      <!--You may need to remove this line under some setups-->
      <mimeMap fileExtension=".svg" mimeType="images/svg+xml" />
      <mimeMap fileExtension=".svgz" mimeType="images/svg+xml" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
    </staticContent>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <!--File Upload Limits-->
  <location path="uploadh.aspx">
    <system.web>
      <httpRuntime maxRequestLength="2097151" executionTimeout="7200" />
      <!--2gb upload limit, 2 hours timeout-->
    </system.web>
  </location>
  <location path="api/myfiles-upload">
    <system.web>
      <httpRuntime maxRequestLength="2097151" executionTimeout="7200" />
    </system.web>
  </location>
  <location path="myfiles/default.aspx">
    <system.web>
      <httpRuntime maxRequestLength="2097151" executionTimeout="7200" />
    </system.web>
  </location>
  <!--End of File Upload Limits-->
  <!--Start of Override Permissions-->
  <location path="kerberos.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="api.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="setup.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="app_data">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="bin">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="api/test">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="api/mycomputer">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="api/js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="api/setup">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="api/bookingsystem/loadroom">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="favicon.ico">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!--End of Override Permissions-->
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="jsonWebHttp" type="HAP.Web.Logging.JsonErrorWebHttpBehaviorElement, HAP.Web.Logging" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="">
          <webHttp />
          <jsonWebHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding>
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" faultExceptionEnabled="true">
          <security mode="Transport"/>
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>