<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hapConfig" type="HAP.Web.Configuration.hapConfig, HAP.Web" allowDefinition="MachineToApplication" requirePermission="false" />
  </configSections>
  <hapConfig>
    <basesettings establishmentname="Crickhowell High School" establishmentcode="CHS" studentphotohandler="~/p.ashx" adminemailuser="Nick" adminemailaddress="admin@crickhowell-hs.powys.sch.uk" studentemailformat="{0}@students.crickhowell-hs.powys.sch.uk" smtpserver="exchange1.crickhowell.internal" smtpserverport="25" smtpserverssl="False" smtpserverusername="" smtpserverpassword="" />
    <adsettings adusername="domain\Administrator" studentsgroupname="CHS Students" adpassword="" adconnectionstring="ADConnectionString">
      <ouobjects>
        <add name="Admins" path="LDAP://chs01.crickhowell.internal/{0}OU=System Administrators,OU={1},OU=Establishments,DC=crickhowell,DC=internal" />
        <add name="Students" path="LDAP://chs01.crickhowell.internal/{0}OU=Students,OU={1},OU=Establishments,DC=crickhowell,DC=internal" ignore="true" />
        <add name="Teachers" path="LDAP://chs01.crickhowell.internal/{0}OU=Teaching Staff,OU={1},OU=Establishments,DC=crickhowell,DC=internal" />
        <add name="NonTeachers" path="LDAP://chs01.crickhowell.internal/{0}OU=Non-Teaching Staff,OU={1},OU=Establishments,DC=crickhowell,DC=internal" />
      </ouobjects>
    </adsettings>
    <tracker maxstudentlogons="1" maxstafflogons="0" />
    <homepagelinks>
      <add name="Update My Details" showto="All" />
      <add name="Browse My School Computer" description="Access your school my documents" showto="All" linklocation="~/mycomputer.aspx" icon="~/images/icons/net.png" />
      <add name="Access a School Computer" description="Run school applications at home" showto="All" linklocation="/rdweb/" icon="~/images/icons/remotedesktop.png" />
      <add name="Access My Webmail" description="Access Student Mail" showto="CHS Students" linklocation="https://schoolmail.crickhowell-hs.powys.sch.uk/webmail/" icon="~/images/icons/email.png" />
      <add name="Access My Emails" description="Access Outlook Web Access" showto="CHS Teaching Staff, CHS Non-Teach Staff, Domain Admins" linklocation="/exchange/" icon="~/images/icons/email.png" />
      <add name="Access Learning Resources" description="Launch RM Learning Resources" showto="All" linklocation="/easylink/rf/" icon="~/images/icons/school.png" />
      <add name="Help Desk" description="Log a Support Ticket" showto="CHS Teaching Staff, CHS Non-Teach Staff, Domain Admins" linklocation="~/helpdesk/" icon="~/images/icons/helpdesk.png" />
      <add name="Booking System" description="Book an IT Resource" showto="CHS Teaching Staff, CHS Non-Teach Staff, Domain Admins" linklocation="~/bookingsystem/" icon="~/images/icons/bookingsystem.png" />
      <add name="RM Management Console" description="RM Management Console" showto="Domain Admins" linklocation="/authorise/" icon="~/images/icons/rm.png" />
      <add name="Logon Tracker" description="View the Logon History" showto="Domain Admins" linklocation="~/tracker/" icon="~/images/icons/tracker.png" />
    </homepagelinks>
    <mycomputer hideextensions=".lnk, .ini">
      <uncpaths>
        <add drive="N" name="My Documents" unc="%homepath%" enablereadto="All" enablewriteto="All" enablemove="true" />
        <add drive="H" name="Admin Documents" unc="\\crickhow-ucczkk\homes\{0}" enablereadto="CHS Admin Exc~1 {UT}, Domain Admins" enablewriteto="CHS Admin Exc~1 {UT}, Domain Admins" enablemove="true" />
        <add drive="R" name="Admin Shared" unc="\\crickhow-ucczkk\shared" enablereadto="CHS Admin Exc~1 {UT}, Domain Admins" enablewriteto="CHS Admin Exc~1 {UT}, Domain Admins" />
        <add drive="T" name="RMStaff" unc="\\chs01\RMStaff" enablereadto="CHS Teaching Staff, CHS Non-Teach Staff, CHS Admin Exc~1 {UT}, Domain Admins" enablewriteto="CHS Teaching Staff, CHS Non-Teach Staff, CHS Admin Exc~1 {UT}, Domain Admins" />
        <add drive="W" name="RMShared Documents" unc="\\chs01\RMShared Documents" enablereadto="All" enablewriteto="CHS Teaching Staff, CHS Non-Teach Staff, CHS Admin Exc~1 {UT}, Domain Admins" />
      </uncpaths>
      <uploadfilters>
        <add name="Access Database" filter="*.mdb;*.accdb" enablefor="All" />
        <add name="Excel Documents" filter="*.xls;*.xlsx;*.xlt;*.xltx" enablefor="All" />
        <add name="HTML Files" filter="*.html;*.htm" enablefor="All" />
        <add name="Images" filter="*.jpg;*.gif;*.png;*.bmp;*.jpeg" enablefor="All" />
        <add name="Word Documents" filter="*.doc;*.docx;*.dotx;*.dot;*.txt;*.rft;*.pdf" enablefor="All" />
        <add name="ZIP Files" filter="*.zip" enablefor="All" />
        <add name="All Files" filter="*.*" enablefor="Domain Admins" />
      </uploadfilters>
    </mycomputer>
    <announcementbox showto="All" enableeditto="Domain Admins" proxyaddress="172.16.77.254" proxyport="3128" />
    <bookingsystem maxbookingsperweek="3" maxdays="14" twoweektimetable="True">
      <resources>
        <add name="ICT1" type="ITRoom" />
        <add name="ICT2" type="ITRoom" />
        <add name="E3" type="ITRoom" />
        <add name="A6" type="ITRoom" />
        <add name="Laptops" type="Laptops" emailadmin="True" enablecharging="True" />
      </resources>
      <lessons>
        <add name="Lesson 1" starttime="9:00" endtime="10:00" />
        <add name="Lesson 2" starttime="10:00" endtime="11:00" />
        <add name="Lesson 3" starttime="11:25" endtime="12:25" />
        <add name="Lesson 4" starttime="12:25" endtime="13:25" />
        <add name="Lesson 5" starttime="14:30" endtime="15:30" />
      </lessons>
    </bookingsystem>
  </hapConfig>
  <connectionStrings>
    <add name="ADConnectionString" connectionString="LDAP://chs01.crickhowell.internal/DC=crickhowell,DC=internal" />
  </connectionStrings>
  <location path="Default.aspx">
    <system.web>
      <identity impersonate="false" />
    </system.web>
  </location>
  <location path="stylesheet.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="basestyle.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="mycomputer.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows">
      <forms name=".ASPXAUTH" loginUrl="login.aspx" defaultUrl="default.aspx" protection="All" timeout="30" path="/" requireSSL="false" slidingExpiration="true" cookieless="UseDeviceProfile" domain="" enableCrossAppRedirects="false">
        <credentials passwordFormat="SHA1" />
      </forms>
    </authentication>
    <identity impersonate="true" />
    <authorization>
      <allow roles="CHS Easylink" />
      <deny users="*" />
    </authorization>
    <customErrors mode="Off" />
    <membership defaultProvider="DomainLoginMembershipProvider">
      <providers>
        <add name="DomainLoginMembershipProvider" attributeMapUsername="sAMAccountName" type="CHS.ActiveDirectoryMembershipProvider,CHS" connectionStringName="ADConnectionString" connectionUsername="domain\Administrator" connectionPassword="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ActiveDirectoryRoleProvider">
      <providers>
        <clear />
        <add name="ActiveDirectoryRoleProvider" type="CHS.ActiveDirectoryRoleProvider,CHS" connectionStringName="ADConnectionString" connectionUsername="domain\Administrator" connectionPassword="" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="App_Data" />
          <remove segment="App_WebReferences" />
          <remove segment="App_LocalResources" />
          <remove segment="App_GlobalResources" />
          <remove segment="App_code" />
          <remove segment="bin" />
          <remove segment="web.config" />
          <remove segment="App_Browsers" />
        </hiddenSegments>
        <fileExtensions>
          <remove fileExtension=".vsdisco" />
          <remove fileExtension=".sdmDocument" />
          <remove fileExtension=".sdm" />
          <remove fileExtension=".sd" />
          <remove fileExtension=".refresh" />
          <remove fileExtension=".msgx" />
          <remove fileExtension=".mdf" />
          <remove fileExtension=".lsaprototype" />
          <remove fileExtension=".ldf" />
          <remove fileExtension=".lddprototype" />
          <remove fileExtension=".ldd" />
          <remove fileExtension=".exclude" />
          <remove fileExtension=".dsprototype" />
          <remove fileExtension=".dd" />
          <remove fileExtension=".compiled" />
          <remove fileExtension=".cd" />
          <remove fileExtension=".adprototype" />
          <remove fileExtension=".ad" />
          <remove fileExtension=".ssmap" />
          <remove fileExtension=".ssdgm" />
          <remove fileExtension=".dsdgm" />
          <remove fileExtension=".ldb" />
          <remove fileExtension=".jsl" />
          <remove fileExtension=".java" />
          <remove fileExtension=".vjsproj" />
          <remove fileExtension=".mdb" />
          <remove fileExtension=".resources" />
          <remove fileExtension=".resx" />
          <remove fileExtension=".licx" />
          <remove fileExtension=".webinfo" />
          <remove fileExtension=".vbproj" />
          <remove fileExtension=".vb" />
          <remove fileExtension=".csproj" />
          <remove fileExtension=".skin" />
          <remove fileExtension=".ascx" />
          <remove fileExtension=".master" />
          <remove fileExtension=".browser" />
          <remove fileExtension=".sitemap" />
          <remove fileExtension=".cs" />
          <remove fileExtension=".lsad" />
          <remove fileExtension=".asax" />
          <remove fileExtension=".config" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <location path="StyleSheet.css">
    <system.web>
      <identity impersonate="false" />
    </system.web>
  </location>
</configuration>