<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HAP.UserCard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="apiSoap" maxReceivedMessageSize="102400">
                    <security mode="Transport" />
                </binding>
                <binding name="apiSoap1" maxReceivedMessageSize="102400" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://folders.crickhowell-hs.powys.sch.uk/hap/usercard/api.asmx"
                binding="basicHttpBinding" bindingConfiguration="apiSoap"
                contract="Web.apiSoap" name="apiSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <HAP.UserCard.Properties.Settings>
            <setting name="ControlledOU" serializeAs="String">
                <value>chs01.crickhowell.internal/OU=Controlled,OU=Students,OU=CHS,OU=Establishments,DC=Crickhowell,DC=internal</value>
            </setting>
            <setting name="ShowHelpDesk" serializeAs="String">
                <value>True</value>
            </setting>
        </HAP.UserCard.Properties.Settings>
    </applicationSettings>
</configuration>