<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="b8305ad1-69a7-4d79-a108-6027fd6797f0" Publisher="CN=Nick" Version="1.0.0.0" />
  <Properties>
    <DisplayName>HAP.Win.MyFiles</DisplayName>
    <PublisherDisplayName>Nick</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HAP.Win.MyFiles.App">
      <VisualElements DisplayName="HAP+ My Files" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Home Access Plus+ My Files Windows 8 Store App" ForegroundText="light" BackgroundColor="#0060a6">
        <DefaultTile ShowName="allLogos" ShortName="HAP+ - My Files" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#0060a6" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>