#access { display: none; }
#container {
	float: none;
	margin: 0;
	width: 100%;
}
#content {
	margin: 0; position: relative;
}
.trackertable { border: solid 1px #a0a0a0; border-collapse: collapse; padding: 0; margin: 0 auto; background: #fff; position: relative; }
.trackertable th { border-bottom: solid 1px #a0a0a0; border-top: 0; vertical-align: top; }
.trackertable th div { position: relative; font-weight: normal; background: #e4e5e6;  }
.trackertable th div label { border-right: solid 1px #fcfcfd; margin-right: 1px; line-height: 21px; height: 21px; background: #f3f4f6 url(../images/table-head-bg.gif) repeat-x top left; display: block; }
.trackertable td { font-size: 100%; padding: 0 2px; }
.trackertable th div div { display: none; background: #fff; font-size: 100%; }
.trackertable th div div input, .trackertable th div div select { font-size: 84%; }
.trackertable tr:hover th div div { display: block; }

.popupControl {
	background-color:#AAD4FF;
	position:absolute;
	visibility:hidden;
	border-style:solid;
	border-color: Black;
	border-width: 2px;
}

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7; width: 100%; height: 100%;
	z-index: 4001;
}

.modalPopup 
{
	background: #fff url(../images/bar.gif) repeat-x top left;
	border-width:1px;
	border-style:solid;
	border-color: #7da2ce;
	padding:3px;
	width: 250px;
	border-radius: 3px;
	-moz-border-radius: 3px; 
}
.modalPopup h1 { margin: 0; padding: 0; height: 28px; line-height: 26px; font-size: medium; color: #1f3976; font-weight: normal; }
.modalButtons { text-align: right; border-top: solid 1px #7da2ce; padding: 4px; }

#loadingPopup { position: absolute; position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 4000; }
#ph { position: absolute; position: fixed; top: 40%; left: 0; width: 100%; z-index: 4002; }
.popupContent { background: #fff url(../images/bar.gif) repeat-x top left; padding: 4px; border: solid 1px #7da2ce; width: 500px; margin: 0 auto; border-radius: 3px; -moz-border-radius: 3px; }
.popupContent div {  }
.popupContent h1 { background: transparent; margin: 0; padding: 0; height: 28px; line-height: 26px; font-size: medium; color: #1f3976; font-weight: normal; }
#logheader img { vertical-align: middle; }